In [1]:
import pandas as pd

In [50]:
data = pd.read_csv('C:/Users/dell/Desktop/data_2.csv',encoding = 'gbk')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 90 columns):
Unnamed: 0                                    4754 non-null int64
custid                                        4754 non-null int64
trade_no                                      4754 non-null object
bank_card_no                                  4754 non-null object
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4752 non-null object
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null int64
source                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
id_name                                       4478 non-null object
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_query_time                             4450 non-null object
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_latest_time                             4457 non-null object
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: float64(70), int64(13), object(7)
memory usage: 3.3+ MB

In [7]:
data.head(10)

,Unnamed: 0,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0
5,15,518072,20180507121233054000000388275132,卡号1,0.02,0.98,2000,7.59,1.00,0.733,...,5300.0,1941.0,11200.0,80.0,10.0,12.0,20400.0,8130.0,3.0,4.0
6,16,1205125,20180507121931540000000388298915,卡号1,0.02,0.98,0,23.67,0.94,0.087,...,2200.0,2200.0,7600.0,73.0,2.0,2.0,16800.0,8900.0,1.0,3.0
7,18,1129897,20180507124659235000000023105807,卡号1,0.02,0.98,0,0.25,0.88,0.302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,20,2599411,20180507115855621000000388224458,卡号1,0.03,0.65,0,0.31,0.76,0.472,...,5300.0,4750.0,5500.0,79.0,8.0,11.0,19200.0,7987.0,24.0,7.0
9,26,1413051,20180504155156296000000021138084,卡号1,0.01,0.99,500,0.80,1.00,0.088,...,2800.0,1520.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,142.0

#### 数据类型相关

In [21]:
data.select_dtypes(include=object)#.head(20)

,trade_no,bank_card_no,reg_preference_for_trad,source,id_name,latest_query_time,loans_latest_time
0,20180507115231274000000023057383,卡号1,一线城市,xs,蒋红,2018-04-25,2018-04-19
1,20180507121002192000000023073000,卡号1,一线城市,xs,崔向朝,2018-05-03,2018-05-05
2,20180507125159718000000023114911,卡号1,一线城市,xs,王中云,2018-05-05,2018-05-01
3,20180507121358683000000388283484,卡号1,三线城市,xs,何洋洋,2018-05-05,2018-05-03
4,20180507115448545000000388205844,卡号1,一线城市,xs,赵洋,2018-04-15,2018-01-07
5,20180507121233054000000388275132,卡号1,三线城市,xs,刘成,2018-05-04,2018-05-03
6,20180507121931540000000388298915,卡号1,一线城市,xs,周雨浓,2018-05-06,2018-05-04
7,20180507124659235000000023105807,卡号1,一线城市,xs,NaN,NaN,NaN
8,20180507115855621000000388224458,卡号1,三线城市,xs,周琰龙,2018-04-13,2018-04-30
9,20180504155156296000000021138084,卡号1,一线城市,xs,马晓辉,2018-04-16,2017-12-13
10,20180507123917136000000388381264,卡号1,一线城市,xs,冯子涵,2018-04-25,2018-04-28
11,20180507121556599000000023080022,卡号1,一线城市,xs,尚海,2018-04-06,2018-04-02
12,20180507114604230000000388176931,卡号1,三线城市,xs,何俊踊,2018-03-30,2018-05-01
13,20180507115807011000000388215609,卡号1,一线城市,xs,赵珊,2018-04-24,2018-04-28
14,20180507121351317000000388282601,卡号1,一线城市,xs,齐健,2018-04-21,2017-10-26
15,20180507120312643000000388240340,卡号1,一线城市,xs,覃杰脉,2018-05-03,2018-04-10
16,20180507115358209000000388203669,卡号1,境外,xs,周火文,2018-05-04,2018-05-06
17,20180507123013060000000388346445,卡号1,一线城市,xs,刘哲,2018-04-28,2018-04-30
18,20180507123317625000000388359399,卡号1,境外,xs,林森华,2018-04-11,2018-02-19
19,20180507122754609000000388339559,卡号1,一线城市,xs,王欢,2018-04-25,2018-03-31
20,20180507114736098000000388185623,卡号1,一线城市,xs,张霞,2018-05-04,2018-02-25
21,20180507122338228000000023086166,卡号1,一线城市,xs,徐翔,2018-04-30,2018-04-14
22,20180504181611848000000381832460,卡号1,境外,xs,陈鹏,2018-04-30,2018-05-03
23,20180507123855945000000388380951,卡号1,三线城市,xs,吴勤,2018-04-25,2018-04-28
24,20180507123355168000000388361170,卡号1,一线城市,xs,梁健,2018-04-23,2018-01-23
25,20180504162411113000000021172853,卡号1,境外,xs,张兵兵,2018-04-13,2018-02-11
26,20180507120445507000000388245413,卡号1,一线城市,xs,张奔驰,2018-04-27,2018-02-16
27,20180507123830326000000388380639,卡号1,三线城市,xs,段春红,2018-04-17,2018-05-01
28,20180507115610811000000388212340,卡号1,一线城市,xs,郑晓光,2018-05-02,2018-04-28
29,20180507123310399000000388357579,卡号1,一线城市,xs,谢志恒,NaN,2018-04-03
...,...,...,...,...,...,...,...
4724,20180507124934620000000388416059,卡号1,一线城市,xs,段宇佳,2018-04-16,2018-05-02
4725,20180507122940057000000388342910,卡号1,一线城市,xs,林峰华,2017-12-16,2018-01-27
4726,20180504162011976000000381367953,卡号1,境外,xs,赵发伟,2018-04-15,2018-03-12
4727,20180507114821935000000388187853,卡号1,一线城市,xs,何威,2018-04-09,2018-03-11
4728,20180507120905394000000023072119,卡号1,一线城市,xs,庞振宗,2018-04-19,2018-04-28
4729,20180507123942186000000388381507,卡号1,一线城市,xs,郭旭强,2018-05-04,2018-01-23
4730,20180507124818814000000388411045,卡号1,三线城市,xs,陈长城,2018-04-09,2017-12-30
4731,20180507123928918000000388381394,卡号1,三线城市,xs,罗森方,2018-05-05,2018-04-26
4732,20180507124249332000000388393507,卡号1,一线城市,xs,郑发春,2018-04-28,2017-08-30
4733,20180507114636248000000388181870,卡号1,二线城市,xs,孔迪俊,2018-04-23,2018-04-28
4734,20180507124936647000000388418873,卡号1,境外,xs,齐亚龙,2018-04-13,2017-12-27
4735,20180507121900401000000388295882,卡号1,一线城市,xs,魏欣旭,2018-05-05,2018-05-01
4736,20180507124233969000000023103541,卡号1,一线城市,xs,陈河根,2018-04-19,2017-12-02
4737,20180504170134092000000381539852,卡号1,一线城市,xs,黄彬彬,2018-05-03,2018-04-27
4738,20180507114726030000000023048892,卡号1,一线城市,xs,洪云飞,2018-03-20,2018-02-07
4739,20180504161419403000000381329175,卡号1,三线城市,xs,赵明,2018-04-22,2018-04-25
4740,20180507115324523000000388201054,卡号1,一线城市,xs,余孝意,2018-04-06,2017-11-25
4741,20180504183705135000000381895535,卡号1,一线城市,xs,潘培星,2018-04-25,2017-12-15
4742,20180507125018925000000023111153,卡号1,一线城市,xs,冯永,2018-05-03,2018-05-03
4743,20180504170654830000000381561522,卡号1,三线城市,xs,肖杰,2018-04-23,2018-04-22
4744,20180507115029481000000388194850,卡号1,一线城市,xs,李宇阳,2018-05-02,2018-02-08
4745,20180507123619864000000388369012,卡号1,三线城市,xs,孟祥彬,2018-05-06,2018-04-29
4746,20180507125012243000000023109396,卡号1,一线城市,xs,NaN,NaN,NaN
4747,20180507123811494000000388377504,卡号1,境外,xs,鄞佳旺,2018-05-06,2018-04-15
4748,20180507121025853000000388266701,卡号1,一线城市,xs,王成,2018-04-02,2018-03-14
4749,20180507120519228000000388247328,卡号1,一线城市,xs,王贤涛,2018-03-24,2018-03-10
4750,20180507114937914000000388192877,卡号1,一线城市,xs,胡晓歆宇,2018-04-20,2018-03-13
4751,20180507121340509000000388278785,卡号1,一线城市,xs,赵吉伟,2018-04-19,2018-03-13
4752,20180504161827128000000381357758,卡号1,一线城市,xs,罗松,2018-03-10,2018-04-18
4753,20180507124243041000000388391027,卡号1,一线城市,xs,李俊,2018-04-17,2018-03-14

In [22]:
data.trade_no.value_counts()

20180507122334998000000388318858    1
20180507125214429000000388427753    1
20180507121947634000000388299994    1
20180507114913242000000388190783    1
20180507120719874000000388257180    1
20180507115346166000000023059023    1
20180507122117775000000388314541    1
20180507122447254000000388324108    1
20180504162022979000000381366693    1
20180504175838715000000381770864    1
20180504165423327000000381511386    1
20180504164121864000000381450944    1
20180507122831724000000388340056    1
20180507121210191000000023074069    1
20180507122420210000000388325624    1
20180507120831961000000388261289    1
20180504181852729000000381839960    1
20180507121958460000000388306145    1
20180507122835743000000388339049    1
20180504183350266000000021310490    1
20180504164639135000000381482387    1
20180504163922146000000381444739    1
20180507121730945000000023082786    1
20180507115458227000000388209305    1
20180504162314924000000381381277    1
20180507123155988000000023091478    1
20180504161159854000000381318306    1
20180507115700344000000023063920    1
20180504155731788000000381260622    1
20180507124344120000000388396613    1
                                   ..
20180507122325809000000388321641    1
20180507122101927000000388309729    1
20180507115153526000000388199403    1
20180507115411029000000388206317    1
20180507114635269000000388182213    1
20180507114805363000000023050455    1
20180504173732723000000381691214    1
20180507120711882000000388255322    1
20180507120529213000000388247466    1
20180507120436816000000388245322    1
20180507115702540000000388216347    1
20180507115719238000000388213050    1
20180507122549152000000388327919    1
20180507124919535000000388417993    1
20180507124528201000000388402999    1
20180507122234055000000388320182    1
20180504174040246000000381703774    1
20180507124255848000000388393580    1
20180507123129910000000388354367    1
20180507123729083000000388372105    1
20180507121541345000000023077913    1
20180507124911842000000388418588    1
20180507123649892000000388371714    1
20180507120555279000000388249579    1
20180507121518784000000388284877    1
20180507121915896000000388303244    1
20180507121724889000000023081696    1
20180507123642710000000388370680    1
20180507123336627000000023093858    1
20180507115459182000000388206854    1
Name: trade_no, Length: 4754, dtype: int64

In [23]:
data.bank_card_no.value_counts()

卡号1    4754
Name: bank_card_no, dtype: int64

In [24]:
data.reg_preference_for_trad.value_counts()

一线城市    3403
三线城市    1064
境外       150
二线城市     131
其他城市       4
Name: reg_preference_for_trad, dtype: int64

In [25]:
data.source.value_counts()

xs    4754
Name: source, dtype: int64

In [27]:
data.id_name.value_counts()

张龙       5
李杰       5
李明       5
张超       4
陈波       4
刘强       4
张伟       4
陈鹏       4
李波       4
张杰       3
陈洁       3
李鹏       3
杨浩       3
张旭       3
李栋       3
杨明       3
王帅       3
王剑       3
李博       3
张健       3
张强       3
张平       3
王强       3
王毅       3
刘凯       3
刘磊       3
陈成       2
陈锋       2
李海东      2
刘洋       2
        ..
杨武园      1
陈阿平      1
蔡艺文      1
廖定威      1
吴奇娜      1
陈程       1
盛网健      1
朱传万      1
陈绍辉      1
王丽莎      1
王星       1
高祥       1
王臻       1
张国峰      1
王立峰      1
刘槽       1
叶锐龙      1
沈桂将      1
刘志勇      1
孙海霞      1
刘闲       1
刘兴昌      1
周京       1
王博伟      1
哈森其木格    1
黄抒婷      1
唐尚勇      1
王纯       1
林汉基      1
王立文      1
Name: id_name, Length: 4309, dtype: int64

In [28]:
data.latest_query_time.value_counts()

2018-04-14    423
2018-05-06    223
2018-05-05    214
2018-05-04    210
2018-05-02    204
2018-05-03    201
2018-04-13    177
2018-04-23    166
2018-04-28    139
2018-05-01    133
2018-04-26    132
2018-04-27    131
2018-04-29    129
2018-04-25    120
2018-04-30    116
2018-04-24    101
2018-04-21     90
2018-04-19     85
2018-04-16     81
2018-04-20     78
2018-04-22     74
2018-04-17     70
2018-04-15     69
2018-04-18     62
2018-04-02     48
2018-04-11     45
2018-04-10     39
2018-03-27     36
2018-04-05     33
2018-04-04     31
             ...
2017-11-14      1
2017-11-20      1
2018-01-25      1
2018-02-20      1
2018-01-04      1
2017-12-31      1
2017-12-30      1
2017-09-05      1
2017-11-15      1
2017-10-22      1
2017-05-18      1
2017-09-18      1
2017-05-26      1
2017-07-09      1
2017-10-20      1
2017-11-03      1
2017-12-24      1
2018-02-24      1
2017-11-13      1
2018-01-13      1
2018-02-15      1
2018-02-19      1
2017-09-22      1
2017-11-18      1
2017-10-16      1
2017-12-01      1
2017-11-22      1
2017-11-10      1
2017-09-29      1
2017-05-24      1
Name: latest_query_time, Length: 207, dtype: int64

In [29]:
data.loans_latest_time.value_counts()

2018-05-03    134
2018-05-04    133
2018-05-02    131
2018-05-06    123
2018-05-05    118
2018-04-30    112
2018-05-01    103
2018-04-28     92
2018-04-25     85
2018-04-29     83
2018-04-27     78
2018-04-24     74
2018-04-19     69
2018-04-26     67
2018-04-23     63
2018-04-20     62
2018-04-16     53
2018-04-14     51
2018-04-12     47
2018-04-22     46
2018-04-17     44
2018-04-18     43
2018-04-21     42
2018-04-11     42
2018-04-15     41
2018-03-15     40
2018-03-14     37
2018-04-10     36
2018-04-09     36
2018-04-08     35
             ...
2017-09-26      1
2017-07-14      1
2017-09-07      1
2017-07-16      1
2017-06-15      1
2017-10-03      1
2017-09-22      1
2017-10-02      1
2017-08-02      1
2017-09-21      1
2017-11-03      1
2017-06-25      1
2017-10-22      1
2017-11-07      1
2017-08-22      1
2017-09-03      1
2017-09-25      1
2017-09-24      1
2017-09-27      1
2017-09-08      1
2017-10-04      1
2017-08-04      1
2017-09-17      1
2017-08-10      1
2017-10-14      1
2017-10-29      1
2017-09-23      1
2017-07-05      1
2017-09-30      1
2017-10-28      1
Name: loans_latest_time, Length: 232, dtype: int64

In [51]:
data = data.drop(['trade_no','bank_card_no','source'],axis = 1)

In [34]:
from sklearn.preprocessing import LabelEncoder
labe = LabelEncoder()

In [61]:
data.reg_preference_for_trad[data.reg_preference_for_trad.isna()==True] = '其他_1'

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
# data.reg_preference_for_trad = data.astype('category')
data.reg_preference_for_trad = labe.fit_transform(data.reg_preference_for_trad)

In [63]:
data.reg_preference_for_trad.head()

0    0
1    0
2    0
3    1
4    0
Name: reg_preference_for_trad, dtype: int64

In [64]:
data.reg_preference_for_trad.value_counts()

0    3403
1    1064
5     150
2     131
4       4
3       2
Name: reg_preference_for_trad, dtype: int64

In [66]:
data.id_name[data.id_name.isna()==True] = '名字缺失'

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
data.id_name = labe.fit_transform(data.id_name)

In [68]:
data.id_name.value_counts()

589     276
1815      5
1844      5
1419      5
1394      4
3966      4
349       4
1862      4
1165      4
3896      4
1288      3
1312      3
2062      3
2563      3
1174      3
2574      3
2038      3
1244      3
1943      3
2647      3
3898      3
309       3
1255      3
1741      3
424       3
1847      3
2523      3
1346      2
1410      2
1508      2
       ...
3363      1
1314      1
3359      1
1310      1
3355      1
1306      1
3351      1
1302      1
3347      1
1298      1
3343      1
1294      1
3339      1
1290      1
3335      1
3331      1
1282      1
3327      1
1278      1
3323      1
1274      1
3319      1
1270      1
3315      1
1266      1
3311      1
1262      1
3307      1
1258      1
0         1
Name: id_name, Length: 4310, dtype: int64

In [75]:
from datetime import datetime

In [78]:
data.latest_query_time = pd.to_datetime(data.latest_query_time)

In [90]:
# data.status[data.latest_query_time.isna()==True]
data.latest_query_time[data.latest_query_time.isna()==True]=pd.to_datetime('2000-01-01')

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [91]:
data.latest_query_time

0      2018-04-25
1      2018-05-03
2      2018-05-05
3      2018-05-05
4      2018-04-15
5      2018-05-04
6      2018-05-06
7      2000-01-01
8      2018-04-13
9      2018-04-16
10     2018-04-25
11     2018-04-06
12     2018-03-30
13     2018-04-24
14     2018-04-21
15     2018-05-03
16     2018-05-04
17     2018-04-28
18     2018-04-11
19     2018-04-25
20     2018-05-04
21     2018-04-30
22     2018-04-30
23     2018-04-25
24     2018-04-23
25     2018-04-13
26     2018-04-27
27     2018-04-17
28     2018-05-02
29     2000-01-01
          ...
4724   2018-04-16
4725   2017-12-16
4726   2018-04-15
4727   2018-04-09
4728   2018-04-19
4729   2018-05-04
4730   2018-04-09
4731   2018-05-05
4732   2018-04-28
4733   2018-04-23
4734   2018-04-13
4735   2018-05-05
4736   2018-04-19
4737   2018-05-03
4738   2018-03-20
4739   2018-04-22
4740   2018-04-06
4741   2018-04-25
4742   2018-05-03
4743   2018-04-23
4744   2018-05-02
4745   2018-05-06
4746   2000-01-01
4747   2018-05-06
4748   2018-04-02
4749   2018-03-24
4750   2018-04-20
4751   2018-04-19
4752   2018-03-10
4753   2018-04-17
Name: latest_query_time, Length: 4754, dtype: datetime64[ns]

In [92]:
data.loans_latest_time = pd.to_datetime(data.loans_latest_time)
data.loans_latest_time[data.loans_latest_time.isna()==True]=pd.to_datetime('2000-01-01')

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
d = pd.read_csv('C:/Users/dell/Desktop/data_2.csv',encoding = 'gbk')
c = d.select_dtypes(include=object)
c.columns

Index(['trade_no', 'bank_card_no', 'reg_preference_for_trad', 'source',
       'id_name', 'latest_query_time', 'loans_latest_time'],
      dtype='object')

In [99]:
d1 = d.select_dtypes(exclude=object)
d1.shape

(4754, 83)

In [100]:
d1.columns

Index(['Unnamed: 0', 'custid', 'low_volume_percent', 'middle_volume_percent',
       'take_amount_in_later_12_month_highest',
       'trans_amount_increase_rate_lately', 'trans_activity_month',
       'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter',
       'trans_days_interval', 'regional_mobility', 'student_feature',
       'repayment_capability', 'is_high_user', 'number_of_trans_from_2011',
       'first_transaction_time', 'historical_trans_amount',
       'historical_trans_day', 'rank_trad_1_month', 'trans_amount_3_month',
       'avg_consume_less_12_valid_month', 'abs',
       'top_trans_count_last_1_month', 'avg_price_last_12_month',
       'avg_price_top_last_12_valid_month', 'trans_top_time_last_1_month',
       'trans_top_time_last_6_month', 'consume_top_time_last_1_month',
       'consume_top_time_last_6_month', 'cross_consume_count_last_1_month',
       'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month',
       'trans_fail_top_count_enum_last_12_month',
       'consume_mini_time_last_1_month',
       'max_cumulative_consume_later_1_month',
       'max_consume_count_later_6_month',
       'railway_consume_count_last_12_month',
       'pawns_auctions_trusts_consume_last_1_month',
       'pawns_auctions_trusts_consume_last_6_month',
       'jewelry_consume_count_last_6_month', 'status', 'first_transaction_day',
       'trans_day_last_12_month', 'apply_score', 'apply_credibility',
       'query_org_count', 'query_finance_count', 'query_cash_count',
       'query_sum_count', 'latest_one_month_apply', 'latest_three_month_apply',
       'latest_six_month_apply', 'loans_score', 'loans_credibility_behavior',
       'loans_count', 'loans_settle_count', 'loans_overdue_count',
       'loans_org_count_behavior', 'consfin_org_count_behavior',
       'loans_cash_count', 'latest_one_month_loan', 'latest_three_month_loan',
       'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee',
       'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time',
       'loans_credit_limit', 'loans_credibility_limit',
       'loans_org_count_current', 'loans_product_count', 'loans_max_limit',
       'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility',
       'consfin_org_count_current', 'consfin_product_count',
       'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day',
       'loans_latest_day'],
      dtype='object')

In [117]:
data.info()
# 'Unnamed: 0','custid',
# student_feature
# 'is_high_user'
# first_transaction_time

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 87 columns):
Unnamed: 0                                    4754 non-null int64
custid                                        4754 non-null int64
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4754 non-null int64
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
id_name                                       4754 non-null int64
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_query_time                             4754 non-null datetime64[ns]
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_latest_time                             4754 non-null datetime64[ns]
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: datetime64[ns](2), float64(70), int64(14), object(1)
memory usage: 3.2+ MB

In [116]:
# data.loc[:,'history_suc_fee':].head(3)

,history_suc_fee,history_fail_fee,latest_one_month_suc,latest_one_month_fail,loans_long_time,loans_latest_time,loans_credit_limit,loans_credibility_limit,loans_org_count_current,loans_product_count,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,37.0,7.0,1.0,0.0,341.0,2018-04-19,2200.0,72.0,9.0,10.0,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,49.0,4.0,2.0,1.0,353.0,2018-05-05,2000.0,74.0,12.0,12.0,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,2.0,2.0,1.0,1.0,157.0,2018-05-01,1500.0,77.0,2.0,2.0,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0

In [126]:
data = data[['reg_preference_for_trad', 'id_name', 'latest_query_time', 'loans_latest_time','take_amount_in_later_12_month_highest',
      'is_high_user', 'historical_trans_amount', 'trans_amount_3_month','abs', 'avg_price_last_12_month',
      'max_cumulative_consume_later_1_month',  'pawns_auctions_trusts_consume_last_1_month', 'pawns_auctions_trusts_consume_last_6_month',            
      'repayment_capability',
              'number_of_trans_from_2011','low_volume_percent', 'middle_volume_percent',
       'trans_amount_increase_rate_lately', 'trans_activity_month',  'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter',
       'trans_days_interval', 'regional_mobility', 'student_feature',
       'first_transaction_time',  'historical_trans_day', 'rank_trad_1_month',
       'avg_consume_less_12_valid_month',  'top_trans_count_last_1_month', 
       'avg_price_top_last_12_valid_month', 'trans_top_time_last_1_month', 'trans_top_time_last_6_month', 'consume_top_time_last_1_month',
       'consume_top_time_last_6_month', 'cross_consume_count_last_1_month', 'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month', 'trans_fail_top_count_enum_last_12_month', 'consume_mini_time_last_1_month',
       'max_consume_count_later_6_month', 'railway_consume_count_last_12_month',
       'jewelry_consume_count_last_6_month', 'status', 'first_transaction_day',  'trans_day_last_12_month', 'apply_score', 'apply_credibility',
       'query_org_count', 'query_finance_count', 'query_cash_count', 'query_sum_count', 'latest_one_month_apply', 'latest_three_month_apply',
       'latest_six_month_apply', 'loans_score', 'loans_credibility_behavior', 'loans_count', 'loans_settle_count', 'loans_overdue_count',
       'loans_org_count_behavior', 'consfin_org_count_behavior', 'loans_cash_count', 'latest_one_month_loan', 'latest_three_month_loan',
       'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee','latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time',
       'loans_credit_limit', 'loans_credibility_limit', 'loans_org_count_current', 'loans_product_count', 'loans_max_limit',
       'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility', 'consfin_org_count_current', 'consfin_product_count',
       'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day', 'loans_latest_day']]

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 85 columns):
reg_preference_for_trad                       4754 non-null int64
id_name                                       4754 non-null int64
latest_query_time                             4754 non-null datetime64[ns]
loans_latest_time                             4754 non-null datetime64[ns]
take_amount_in_later_12_month_highest         4754 non-null int64
is_high_user                                  4754 non-null int64
historical_trans_amount                       4754 non-null int64
trans_amount_3_month                          4754 non-null int64
abs                                           4754 non-null int64
avg_price_last_12_month                       4754 non-null int64
max_cumulative_consume_later_1_month          4754 non-null int64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
repayment_capability                          4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
avg_consume_less_12_valid_month               4752 non-null float64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_top_last_12_valid_month             4650 non-null float64
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: datetime64[ns](2), float64(70), int64(12), object(1)
memory usage: 3.1+ MB

In [131]:
d2 = pd.read_csv('C:/Users/dell/Desktop/data_2.csv',encoding = 'gbk')
d2.status[d2.student_feature.isna()==True].value_counts()

0    2254
1     744
Name: status, dtype: int64

In [136]:
d2.status[d2.student_feature==1].value_counts()

0    1306
1     448
Name: status, dtype: int64

In [138]:
data.student_feature[d2.student_feature.isna()==True] = 0

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [155]:
data = data.drop('status',axis = 1)

In [156]:
data.head()

,reg_preference_for_trad,id_name,latest_query_time,loans_latest_time,take_amount_in_later_12_month_highest,is_high_user,historical_trans_amount,trans_amount_3_month,abs,avg_price_last_12_month,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,0,3118,2018-04-25,2018-04-19,0,0,149050,34030,3920,1020,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,0,1077,2018-05-03,2018-05-05,2000,0,302910,10590,6950,1210,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,0,2490,2018-05-05,2018-05-01,0,0,11520,5710,840,570,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,1,136,2018-05-05,2018-05-03,2000,0,491130,91690,46850,1290,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,0,3421,2018-04-15,2018-01-07,0,0,61470,9770,760,1110,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

#### 有些乱，说一下大体思路：首先是非数值型数据处理（object文本），drop三个字段，两个转换成datetime，两个用label处理。接着处理数值型，drop三个字段（两个无作用字段和一个标签字段）。剩下的字段该怎么处理还不太清楚。